

.red1{
    background-color: #cc0033;
}
.red2{
    background-color: #cc0066;
}
.red3{
    background-color: #cc3333;
}
.red4{
    background-color: #ff0033;
}
.red5{
    background-color: #ff3366;
}



.blue1{
    background-color: #3333FF;
}
.blue2{
    background-color: #33CCFF;
}
.blue3{
    background-color: #3366FF;
}
.blue4{
    background-color: #3399FF;
}
.blue5{
    background-color: #3300ff;
}


.green1{
    background-color: #00FF00;
}
.green2{
    background-color: #00FF66;
}
.green3{
    background-color: #00CC33;
}
.green4{
    background-color: #00CC99;
}
.green5{
    background-color: #009900;
}

.violet1{
    background-color: #9900FF;
}
.violet2{
    background-color: #9933FF;
}
.violet3{
    background-color: #9966FF;
}
.violet4{
    background-color: #EE00EE;
}
.violet5{
    background-color: #9933CC;
}

.yellow1{
    background-color: #FFFF00;
}
.yellow2{
    background-color: #EEC900;
}
.yellow3{
    background-color: #CCCC00;
}
.yellow4{
    background-color: #FFD700;
}
.yellow5{
    background-color: #FFF68F;
}

.orange1{
    background-color: #FF6600;
}
.orange2{
    background-color: #FF9900;
}
.orange3{
    background-color: #FF9933;
}
.orange4{
    background-color: #FF9966;
}
.orange5{
    background-color: #FF6633;
}

.gray1{
    background-color: #1A1A1A;
}
.gray2{
    background-color: #6E6E6E;
}
.gray3{
    background-color: #515151;
}
.gray4{
    background-color: #A9A9A9;
}
.gray5{
    background-color: #8A8A8A;
}

.trans{
    background-color: transparent;
}


/*.panel_style1{*/
/*box-shadow: 3px 3px 16px 2px rgb(142,53,74);*/
/*}*/
.panel_style1 .name{
    color: rgb(142,53,74);
}

/*.panel_style2{*/
/*box-shadow: 3px 3px 16px 2px rgb(203,27,69);*/
/*}*/
.panel_style2 .name{
    color: rgb(203,27,69);
}

/*.panel_style3{*/
/*box-shadow: 3px 3px 16px 2px rgb(142,53,74);*/
/*}*/
.panel_style3 .name{
    color: rgb(142,53,74);
}

/*.panel_style4{*/
/*box-shadow: 3px 3px 16px 2px rgb(134,71,63);*/
/*}*/
.panel_style4 .name{
    color: rgb(134,71,63);
}

/*.panel_style5{*/
/*box-shadow: 3px 3px 16px 2px rgb(240,94,28);*/
/*}*/
.panel_style5 .name{
    color: rgb(240,94,28);
}

/*.panel_style6{*/
/*box-shadow: 3px 3px 16px 2px rgb(93,172,129);*/
/*}*/
.panel_style6 .name{
    color: rgb(93,172,129);
}

/*.panel_style7{*/
/*box-shadow: 3px 3px 16px 2px rgb(142,53,74);*/
/*}*/
.panel_style7 .name{
    color: rgb(142,53,74);
}

/*.panel_style8{*/
/*box-shadow: 3px 3px 16px 2px rgb(46,169,223);*/
/*}*/
.panel_style8 .name{
    color: rgb(46,169,223);
}


