
#cup_container div:nth-child(1){
    overflow: hidden;
    /* text-align: center; */
    width: 57px;
    height: 30px;
    /* margin: 0 auto; */
    margin-left: 7px;
    /* margin-top: 35px; */
}
#cup_container{
    transition: left 0.5s;
    position: absolute;
    width: 150px;
    height: 145px;
    margin: 0 auto;
    z-index: 9999;
    top: 28.3%;
    /* right: 126px; */
    left: 27%;
    /* margin-top: 30px; */
}
#cup{
    position: absolute;
    width: 43px;
    height: 47px;
    background-color: white;
    border-radius: 0 0 16px 16px;
    border: 4px solid #775263;
    box-shadow: inset 10px 0 0 10px #e6e4e4;
    /* top: 77px; */
    /* margin: 0 auto; */
    /* left: 50%; */
    /* margin-left: -50.5px; */
}
#cup:before{
    content: '';
    width: 35px;
    height: 17px;
    /* background-color: whitesmoke; */
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 21px;
    border-radius: 0 10px 50px 0;
    /* background: transparent; */
    border: 2px solid #eee;
    z-index: -1;
    box-shadow: inset 0 0 0 2px #775263, 0 0 0 2px white, 0 0 0 5px #775263;
}
#cup:after{
    content: '';
    width:80px;
    height:5px;
    /*position: absolute;*/
    top:100%;
    background-color: white;
}


@keyframes shine {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        margin-top: 0px;
    }
}
@-webkit-keyframes  wk-shine {
0% {
    opacity: 1;
}
50% {
    opacity: 0.5;
}
100% {
    opacity: 0.2;
    margin-top: 0px;
}
}
.o{
    width: 3px;
    height: 9px;
    background-color: whitesmoke;
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;

    animation-name: shine;
    -webkit-animation-name: wk-shine;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-direction: normal;
    -webkit-animation-direction: normal;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.o:nth-child(1){
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
.o:nth-child(2){
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}
.o:nth-child(3){
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}