body,html{
    width:100%;
    height:100%;
    margin:0;
    overflow: hidden;

    font-family: 华文细黑;
}
.container{
    width:100%;
    height:100%;
}
.backContainer{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1;

    background-color: transparent;
}
.colorScreen{
    position: relative;
    width:10%;
    padding-bottom:10%;
    height:0;


    /*background-color: transparent;*/
    float: left;
    transition: background-color 2s;
}
@media (min-width:768px) and (orientation: portrait) {
    .colorScreen{
        width:20%;
        padding-bottom:20%;
    }
}
@media (min-width:991px)  and (orientation: portrait) {
    .colorScreen{
        width:10%;
        padding-bottom:10%;
    }
}
.row{
    overflow: hidden;
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.welcome{
    position: absolute;
    width:300px;
    height:50px;
    border-radius:10px;
    background-color: #F8F8FF;
    text-align: center;

    top:10px;
    left:-100%;
    z-index: 9;
}
.welcome p{
    font-size:20px;
    margin:12px;
}

.frontContainer{
    position: relative;
    z-index: 9;
    width:100%;
    height:100%;

    background: rgba(255,255,255,0.3);
}
.contentContainer{
    width:100%;
    height:100%;
}
.contentContainer .itemContainer{
    margin:0 auto;
    width: 423px;
    overflow: hidden;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
    height:0;
}