body,html{
    width:100%;
    height:100%;
    margin:0;
    overflow: hidden;

    font-family: Arial;
}
.container{
    width:100%;
    height:100%;
}
.backContainer{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1;

    background-color: transparent;
}
.colorScreen{
    position: relative;
    width:10%;
    padding-bottom:10%;
    height:0;

    background-color: transparent;
    float: left;
    transition: background-color 2s;
}
.row{
    overflow: hidden;
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.welcome{
    position: absolute;
    width:300px;
    height:50px;
    border-radius:10px;
    background-color: #F8F8FF;
    text-align: center;

    top:10px;
    left:-100%;
    z-index: 9;
}
.welcome p{
    font-size:20px;
    margin:12px;
}