
.frontContainer{
    position: relative;
    z-index: 9;
    width:100%;
    height:100%;

    background: rgba(0,0,0,0.3);
}
.contentContainer{
    width:100%;
    height:100%;
    /*text-align: center;*/

    /*position: absolute;*/
    /*top:40%;*/

}
.contentContainer .itemContainer{
    margin:0 auto;
    width: 423px;
    overflow: hidden;
}
.item1 .itemContainer div{
    float: left;
}
.itemLeft{
    border-right: 2px solid white;
    padding: 0 10px 0 0;
    text-align: center;

}
.itemRight{
    padding:10% 0 0 10px;
}
.itemRight p{
    color: #FFF;
    font-size:25px;
    /*font-family: Arial;*/
}
.frontContainer .contentContainer .name{
    color: #fff;
    display: inline;
    font-size:50px;
}
#myselfImg{

    display: block;
    width: 200px;
    height:200px;

    margin:0 auto;

    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    border-radius:200px;
}