.item2 .yearContainer p{
    color: #FFFFFF;
}
.item2 .itemContainer{
    width:2000px;
    left:40%;
    /*bottom:10%;*/
    position: relative;

    /*transition: all 2s;*/
}
.item2 .itemContainer .yearContainer{
    width:300px;
    height:500px;

    position: relative;
    float: left;
    margin-left:100px;
    opacity: 0.3;

    transition: all .5s;
}
.item2 .itemContainer .year2012{
    transform: scale(1.4);
    opacity: 1;
}
.item2 .yearContainer div p{
    margin:0;
    transition: all .8s;
}
.item2 .yearContainer .my_year p{
    font-size:65px;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight:bold;
}

.item2 .yearContainer .my_title p{
    font-size:30px;
    margin-bottom:40px;
    font-weight: bold;
}

.item2 .itemContainer .yearContainer  .my_content p{
    font-size:22px;
    -webkit-font-smoothing: antialiased;
}
.item2 .navBtnC{
    position: absolute;

    bottom: 50px;
    width:618px;
    height:50px;
    left:50%;
    margin-left:-325px;
}
.item2 .navBtnC a{
    font-size:25px;
    font-weight: bold;
    width:80px;
    height:35px;
    background-color: transparent;
    color: #FFFFFF;
    margin:0 20px 0 20px;

    border:2px solid #FFFFFF;
    border-radius: 10px;
    padding:10px 10px 10px 10px;

    transition: all .3s;
}
.item2 .navBtnC a:hover{
    background-color: #FFFFFF;
    border-color: #3c3c3c;
    color: #3c3c3c;
    cursor: pointer;
}

.item2 .navBtnC a:before,.item2 .navBtnC a:nth-child(5):after{
    content: '';
    position: absolute;
    width: 46px;
    height: 2px;
    background-color: white;
    /*left: 100px;*/
    top: 50%;
    margin-top: -2%;
}
.item2 .navBtnC a:nth-child(1):before{
    left: -25px;
}
.item2 .navBtnC a:nth-child(2):before{
    left: 100px;
}
.item2 .navBtnC a:nth-child(3):before{
    left: 222px;
}
.item2 .navBtnC a:nth-child(4):before{
    left: 346px;
}
.item2 .navBtnC a:nth-child(5):before{
    left: 470px;
}

.item2 .navBtnC a:nth-child(5):after{
    right:-22px;
}