.item4 .contentContainer{
    position: relative;
}
.item4 .contactBtn{
    height:34.5px;
}

.item4 span,.item4 p{
    /*display: inline-block;*/
}
.item4 #email,.item4 #email:before,.item4 #email:after{
    width:0;
    height:0;
    border-style:solid;

    border-radius: 5px;
}
.item4 .icon{

    position: relative;
    margin:0 10px 0 10px;
    float: left;
}
.item4 .contactBtn{
    position: absolute;
    width: 362px;
    height: 76px;

    right:0;
    bottom: -80px;

    transition: all .2s;
}



.item4 .svg--source{
    display: none;
}
.item4 .contactBtn .svg--icon {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    fill:currentColor;
}


.item4 .contactBtn .share {
    width: 60px;
    height: 60px;
    float: left;
    /*margin: .5rem 1rem .5rem 0;*/
    color: white;
    margin:0 30px 0 30px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.item4 .contactBtn .share:hover{
    color: black;
}
.item4 .contactBtn .email{
    width:76px;
    height:76px;
}
.item4 .contactBtn .github{
    width: 46px;
    height: 46px;
    margin-top: 7px;
}


.item4 .contactContainer .textContainer{
    font-weight:lighter;
}
.item4 .contactContainer .textContainer p:first-child{
    color: #FFFFFF;
    font-size:28px;

}
.item4 .contactContainer .textContainer p:last-child{
    color: #FFFFFF;
    font-size:25px;
    margin:100px 0 0 100px;

    font-weight:bold;
}
.item4 .contactContainer .textContainer a{
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin:15px 0 15px 150px;

    font-size:22px;

    transition: all .5s;
}
.item4 .contactContainer .textContainer .secondP_1:hover{
    color: #0769ad;
}
.item4 .contactContainer .textContainer .secondP_2:hover{
    color: rgb(27, 188, 155);
}
.item4 .contactContainer .textContainer .secondP_3:hover{
    color: black;
}