.item3 .itemContainer{
    position: relative;
    width:100%;
    height:100%;
}
.item3 .itemContainer .title{
    color: #000000;
    font-size: 40px;
    position: relative;
    top:10px;
    left:10px;
}
.item3 .itemContainer .title h1{
    margin:10px 0 10px 0;
}
.item3 .itemContainer .contentContainer{
    height:auto;
    width:auto;

    margin:5%;
}

.item3 .itemContainer .contentContainer .project_preview{
    width:200px;
    height:180px;
    position: relative;

    border-radius: 10px;
    margin: 10px;
    float: left;

    border:1px solid #3c3c3c;



    background-size: 100% 100% !important;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all .1s;

    transform-origin: 50% 50%;
    transform: scale(0) rotateY(0deg) rotateX(0deg);


}
.item3 .itemContainer .contentContainer .project_preview a{
    position: absolute;
    width:200px;
    height:180px;
    z-index: 2;
    color: #FFFFFF;
    display: block;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    border-radius: 10px;

    transition: all .5s;
}
.item3 .itemContainer .contentContainer .project_preview a p{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    /* height: 100%; */
    width: 100%;
    /* margin-top: -17px; */
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    /* margin-left: -62.2px; */
    /* margin-top: -22.5px; */
    word-wrap: break-word;
    transform: translateZ(30px) translate(0,-50%);
}
.item3 .itemContainer .contentContainer .room{
    background: url("http://topiniu.com/img/project_img/Room.png");
}
/*http://topiniu.github.io*/
.item3 .itemContainer .contentContainer .pa{
    background: url("http://topiniu.com/img/project_img/PA.png");

}
.item3 .itemContainer .contentContainer .pb{
    background: url("http://topiniu.com/img/project_img/PB.png");
}
.item3 .itemContainer .contentContainer .pa a:hover{
    color: #000;
}


@media screen and (max-width: 767px) {
    .item3 .itemContainer .title h1{
        font-size:1.5em;
        color: #FFFFFF;
    }
    .item3 .itemContainer .contentContainer{
        margin:0;
    }

    .item3 .itemContainer .contentContainer .project_preview{
        width:100%;
        height:70px;
        margin:10px 0 ;

        background-repeat: no-repeat !important;
        background-size: 20% 100% !important;
        border:none;
        border-radius: 0;
        border:1px solid black;

        /*right:-100%;*/
    }

    .item3 .itemContainer .contentContainer .project_preview a{
        width:80%;
        height:100%;


        right:0;

        border:none;
        border-left:1px solid black;
        border-radius: 0;
        background-color: rgba(0,0,0,0.3) !important;


        transition: all .5s;

    }

    .item3 .itemContainer .contentContainer .project_preview a p{
        font-size:1.8em;
    }

    .item3 .itemContainer .contentContainer .project_preview a:hover{
        background-color: #FFFFFF !important;
        color: black;
    }
}


@media screen and (orientation: landscape){

}
