.item1{
    position: relative;
    width:100%;
    height:100%;

    background:transparent;
}
.item1 .itemContainer{
    width:750px;
    height:500px;

    background-color: white;
    box-shadow: 4px 4px 20px 5px black;
}

.item1 .itemContainer #imgBox{
    height:210px;
}
.item1 .itemContainer #imgBox img{
    width:100%;
    height:210px;
}
#selfInfoBox{
    /*padding:10px 30px;*/
    height:290px;
}
#selfInfoBox p{
    margin:0;
}
#selfInfoBox .contentBox{
    position: relative;
    top: 50%;
    transform: translate(0,-55%);
    padding: 0 30px 0 30px;
}

#selfInfoBox .leftBox{
    width: 30%;
    float: left;
    border-right: 1px solid gray;
}

#shortBox .name p{
    margin:0;
    font-size:50px;
}
#selfInfoBox .leftBox .shortintro{
    padding-left:10px;
    margin-top:30px;
}
#selfInfoBox .shortintro p{
    margin:10px 0 10px 0;
    font-size:20px;
}

#selfInfoBox .rightBox{
    position: relative;
    width:65%;
    float: right;
    top:45px;
}

#selfInfoBox .rightBox p{
    text-indent: 2em;
    line-height: 2em;
}
