.item2 .yearContainer p{
    color: #FFFFFF;
}
.item2 .itemContainer{
    width:2000px;
    left:40%;
    /*bottom:10%;*/
    position: relative;

    /*transition: all 2s;*/
}
.item2 .itemContainer .yearContainer{
    width:300px;
    height:500px;

    position: relative;
    float: left;
    margin-left:100px;
    opacity: 0.3;

    transition: all .5s;
}
.item2 .itemContainer .year2012{
    transform: scale(1.4);
    opacity: 1;
}
.item2 .yearContainer div p{
    margin:0;
    transition: all .8s;
}
.item2 .yearContainer .my_year p{
    font-size:65px;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight:bold;
}

.item2 .yearContainer .my_title p{
    font-size:30px;
    margin-bottom:40px;
    font-weight: bold;
}

.item2 .itemContainer .yearContainer  .my_content p{
    font-size:22px;
    -webkit-font-smoothing: antialiased;
}
.item2 .navBtnC{
    position: absolute;

    bottom: 50px;
    width:618px;
    height:50px;
    left:50%;
    margin-left:-325px;
}
.item2 .navBtnC input[type="button"]{
    font-size:25px;
    font-weight: bold;
    width:80px;
    height:40px;
    background-color: transparent;
    color: #FFFFFF;
    margin:0 20px 0 20px;

    border:2px solid #3c3c3c;
    transition: all .8s;
}
.item2 .navBtnC input[type="button"]:hover{
    background-color: #FFFFFF;
    color: #FFF;
    cursor: pointer;
}