.item1{
    position: relative;
    width:100%;
    height:100%;

    background:transparent;
}
.item1 .itemContainer{
    width:750px;
    height:500px;

    background-color: white;
    box-shadow: 4px 4px 20px 5px black;
}

.item1 .itemContainer #imgBox{
    height:205px;
    position: relative;
    overflow: hidden;
}
.item1 .itemContainer #imgBox .myImg{
    position: absolute;
    width:100%;
    /*height:210px;*/
    opacity: 1;
    z-index: 9;


    transition: all 1s;
}

#selfInfoBox{
    /*padding:10px 30px;*/
    height:295px;
}
#selfInfoBox p{
    margin:0;
}
#selfInfoBox .contentBox{
    position: relative;
    top: 50%;
    transform: translate(0,-55%);
    padding: 0 30px 0 30px;
}

#selfInfoBox .leftBox{
    width: 30%;
    float: left;
    border-right: 1px solid gray;
}

#shortBox .name p{
    margin:0;
    font-size:50px;
}
#selfInfoBox .leftBox .shortintro{
    padding-left:10px;
    margin-top:30px;
}
#selfInfoBox .shortintro p{
    margin:10px 0 10px 0;
    font-size:20px;
}

#selfInfoBox .rightBox{
    position: relative;
    width:65%;
    float: right;
    top:45px;
}

#selfInfoBox .rightBox p{
    text-indent: 2em;
    line-height: 2em;
}


@media screen and (max-width: 767px) {
    .item1 {
        position: relative;
        width: 100%;
        height: 100%;

    }

    .item1 .itemContainer {
        width: 100%;
        height: 100%;
        background-color: white;

        box-shadow: none;
    }

    .item1 .itemContainer #imgBox {
        height: 26%;
    }

    .item1 .itemContainer #imgBox .myImg {
        /* z-index: 1; */
        /* width: 100%; */
        /* height: 100%; */
        position: absolute;
        /* left: -50%; */
        /* width: 200%; */
        /* height: 200%; */
        transform: scale(1.6);
        transform-origin: top;
        transition: all 1s;
    }
    #selfInfoBox{
        height:74%;
    }
    #selfInfoBox .contentBox {
        /*height: auto;*/
        position: relative;
        transform: none;
        height:100%;
        top: 0;
    }

    #selfInfoBox div {
        float: none !important;
    }

    #selfInfoBox #shortBox {
        border: 0;
        width: 100%;

    }

    #selfInfoBox #shortBox .shortintro {
        text-align: center;
    }

    #selfInfoBox .rightBox {
        position: relative;
        width: 100%;
        float: right;
        top: 45px;
        /*bottom:10px;*/
        border-left: 2px solid red;
        padding-left: 0px;
    }

    #selfInfoBox .rightBox p {
        text-indent: 2em;
        line-height: 2em;
        font-size: 12px;
        margin-left: 18px;
    }
}