
body{
    background-color: #B55E3D;
    overflow: hidden;
}
#itemContainer{
    overflow: hidden;
    width: 100%;
    /* height: 500px; */
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 9999;
    top: 30%;
}