
@media all and (max-width: 1000px){

/*Window*/
    #window{
        transition: width 0.8s,height 0.8s;
        width:300px;
        height:300px;
    }
    #window:before{
        transition: width 0.8s,height 0.8s;
        height:300px;
    }
    #window:after{
        transition: width 0.8s,height 0.8s;
        width:300px;
    }
    #sky{
        transition: width 0.8s,height 0.8s;
        width: 300px;
        height: 300px;
    }
    #groundLeft{
        transition: top 0.8s,left 0.8s;
        top: 243px;
        left: 112px;
    }
    #groundRight{
        transition: top 0.8s,left 0.8s;
        top: 285px;
        left: -20%;
    }

/*PC*/

    #pc_container{
        transition: left 0.5s,top 0.5s;
        left:10%;
        top:20%;
    }





/*Clock*/
    #clockContainer{
        left:5%;
    }
}