
@media (min-width: 768px) and (max-width: 1200px){

/*Window*/
    #window{
        transition: width 0.8s,height 0.8s;
        width:300px;
        height:300px;
    }
    #window:before{
        transition: width 0.8s,height 0.8s;
        height:300px;
    }
    #window:after{
        transition: width 0.8s,height 0.8s;
        width:300px;
    }
    #sky{
        transition: width 0.8s,height 0.8s;
        width: 300px;
        height: 300px;
    }
    #groundLeft{
        transition: top 0.8s,left 0.8s;
        top: 243px;
        left: 112px;
    }
    #groundRight{
        transition: top 0.8s,left 0.8s;
        top: 285px;
        left: -20%;
    }

/*PC*/

    #pc_container{
        transition: left 0.5s,top 0.5s;
        left:10%;
        top:20%;
    }
    .code p{
        transition: font-size 0.5s;
        font-size: 26px;
    }




/*Clock*/
    #clockContainer{
        transition: left 0.5s;
        left:5%;
    }

    /*CUP*/
    #cup_container{
        transition: left 0.5s;
        left:5% !important;
    }

}

@media all and (max-width: 768px) {
    #floor{
        width:500%;
        height:100%;
        top:80%;
    }

    #backgroundWall{
        width:500%;
        height:80%;
    }


    /*Window*/
    #window{
        transition: width 0.8s,height 0.8s;
        width: 200px;
        height: 200px;
        left: 98%;
    }
    #window:before{
        transition: width 0.8s,height 0.8s;
        height:200px;
    }
    #window:after{
        transition: width 0.8s,height 0.8s;
        width:200px;
    }
    #sky{
        transition: width 0.8s,height 0.8s;
        width: 200px;
        height: 200px;
    }
    #groundLeft{
        transition: top 0.8s,left 0.8s;
        top: 143px;
        left: 50%;
    }
    #groundRight{
        transition: top 0.8s,left 0.8s;
        top: 185px;
        left: -10%;
    }

    #cup_container{
        left:90%;
    }

    #booksContainer{
        width:200px !important;
    }
}

/*@media all and (min-height: 1200px){*/
    /*#floor{*/

        /*height:100%;*/
        /*top:50%;*/
    /*}*/

    /*#backgroundWall{*/
        /*height:50%;*/
    /*}*/
/*}*/
/*@media (min-height: 375px) and (orientation:landscape){*/
    /*#floor{*/

        /*height:100%;*/
        /*top:90%;*/
    /*}*/

    /*#backgroundWall{*/
        /*height:90%;*/
    /*}*/
/*}*/