#pc_container{
    width:500px;
    /*height:500px;*/
    position: absolute;
    top:30%;
    left:32%;
    /*border:1px solid #000;*/
    z-index:1;
}

#pc_border{
    position: relative;
    top:2%;
    left:50%;
    margin-left:-158px;
    width:300px;
    height:169px;
    border:8px solid #0C0B23;
    border-radius: 5%;
    background: transparent;
    overflow: hidden;
}
#pc_screen{
    background-color: #4a0348;
    width:300px;
    height:169px;
    overflow: hidden;
}

#pc_holder1{
    width:25px;
    height:30px;
    background-color: #0C0B23;
    position: relative;
    left: 50%;
    /*top: 195px;*/
    margin-left: -12.5px;
}
#pc_holder2{
    width:60px;
    height:10px;
    background-color: #0C0B23;
    position: relative;
    left: 50%;
    margin-left: -30px;
    /*top: 225px;*/
}
.code{
    width:100%;
    overflow: hidden;
    /*margin-bottom:3px;*/
    position: absolute;
    top:-200px;
    cursor: default;
}
.code p{
    /*width:20%;*/
    display: block;
    float: left;
    font-size:2px;
    margin:0;
    margin-right:5px;
}

.blue{
    color: rgb(127,144,170);
}
.poper:after{
    content: ':';
}
.yellow{
    color: rgb(215,180,40);
}
.red{
    color: rgb(255,100,0);
}
.green{
    color: rgb(104,232,104);
}
.black{
    color: white;
}
.code:nth-child(1){
    animation-delay: 0s;
}
.code:nth-child(2){
    padding-left: 20px;
    animation-delay: 1s;
}
.code:nth-child(3){
    padding-left: 40px;
    animation-delay: 2s;
}
.code:nth-child(4){
    padding-left: 60px;
    animation-delay: 3s;
}
.code:nth-child(5){
    padding-left: 20px;
    animation-delay: 4s;
}
.code:nth-child(6){
    padding-left: 40px;
    animation-delay: 5s;
}

@keyframes codeFall {
    0%{top:-200px;}
    100%{top:200px;}
}
.code{
    animation-name: codeFall;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-timing-function:linear, ease-in-out;

    animation-iteration-count: infinite,infinite;

    animation-play-state: running,running;
}

#desk{
    overflow: hidden;
    width: 700px;
}
#desk_top{
    width:700px;
    height:20px;
    background-color: rgb(204,189,172);
    box-shadow: 0px 3px 3px 1px rgb(149, 129, 113);
    margin:0 auto;
    position: relative;
    /*top:100%;*/
    z-index: 3;
}
#desk_legLeft,#desk_legRight{
    width:30px;
    height:250px;
    background-color: rgb(224,206,184);
    z-index: 2;
    float: left;
}
#desk_legRight{
    width:200px;
    position: relative;
    right: 0;
    left: 100%;
    margin-left: -230px;
}
.locker{
    margin:0 auto;
    margin-top:30px;
    border:2px solid rgb(173, 155, 134);
    position: relative;
    padding:2px 2px 2px 2px;
    width:180px;
    height:80px;
    display: block;
}
.locker:nth-child(2){
    margin-top:20px;
}
.locker:before{
    content: '';
    position: absolute;
    background-color: rgb(206,188,167);
    width:179px;
    height:79px;
}
.locker:after{
    content: '';
    width:70px;
    height:15px;
    background-color: #FFFFFF;
    position: absolute;
    left:50%;
    margin-left:-35px;
    top: 50%;
    margin-top:-15px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 2px 2px rgb(113, 98, 86);
}
































