
.wrap {
    position: absolute;
    width:100%;
    height:100%;
    background-image: linear-gradient(0deg, #221F3F 0%, #1A4E3F 100%);
    z-index: 1;

    display: none;

}
.wrap svg {
    display: none;
    width: 100%;
    height:100%;
    margin: 0 auto;
    fill: #cc0000;
}

.curve {
    stroke-width: 1px;
    stroke-opacity: 0;
}
.curve path {
    transform-origin: center 60px;
}
.curve path:nth-child(1) {
    animation: curve 6s linear 1.2s infinite;
}
.curve path:nth-child(2) {
    animation: curve 6s linear 2.4s infinite;
}
.curve path:nth-child(3) {
    animation: curve 6s linear 3.6s infinite;
}
.curve path:nth-child(4) {
    animation: curve 6s linear 4.8s infinite;
}
.curve path:nth-child(5) {
    animation: curve 6s linear 6s infinite;
}
.curve path:nth-child(6) {
    animation: curve 6s linear 7.2s infinite;
}

@keyframes curve {
    0% {
        transform: none;
        stroke-opacity: 0;
    }
    50% {
        transform: rotateX(360deg) scaleY(0.8);
        stroke-opacity: .4;
    }
    70% {
        transform: skewY(-2deg);
    }
    100% {
        transform: none;
        stroke-opacity: 0;
    }
}


@media screen and (max-width: 767px){
    .wrap,.wrap svg{
        display: block;
    }
}