#window{
    width: 350px;
    height: 350px;
    background: transparent;
    border:10px solid #6A3523;
    position: absolute;
    overflow: hidden;
    top:2%;
    right:5%;
    z-index: 9999;
}
#window:before{
    content: '';
    display: block;
    width:10px;
    height:3500px;
    background-color: #6A3523;
    position: absolute;
    left:50%;
    margin-left:-5px;
    z-index: 9999;
}
#window:after{
    content: '';
    display: block;
    width:350px;
    height:10px;
    background-color: #6A3523;
    position: absolute;
    top:50%;
    margin-bottom:-5px;
    z-index: 9999;
}
#sky{
    background: linear-gradient(0deg, #153d54, #061117);
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.snow{
    position: absolute;
    display: block;
    width:7px;
    height:7px;
    border-radius: 100%;
    background: #FFFFFF;
    z-index:2;
}
.snow:nth-child(3),.snow:nth-child(7),.snow:nth-child(10),
.snow:nth-child(16),.snow:nth-child(20),.snow:nth-child(12){
    background-color: rgba(255,255,255,.5);
    width:15px;
    height:15px;
    border-radius: 100%;
}
.snow:nth-child(5),.snow:nth-child(9),.snow:nth-child(13),
.snow:nth-child(17),.snow:nth-child(23),.snow:nth-child(25){
    background-color: rgba(255,255,255,0.6);
    width:9px;
    height:9px;
    border-radius: 100%;
}
@keyframes snow-fall {
    0%{top:3px}
    100%{top:360px}
}
.snow{
    position: absolute;
    top:-10%;
    z-index: 9999;

    animation-name: snow-fall,snow-shake;

    animation-duration: 7s;

    animation-timing-function:linear, ease-in-out;

    animation-iteration-count: infinite,infinite;

    animation-play-state: running,running;
}
.snow:nth-child(3),.snow:nth-child(7),.snow:nth-child(10),
.snow:nth-child(16),.snow:nth-child(20),.snow:nth-child(12){
    position: absolute;
    top:-10%;
    z-index: 9999;

    animation-name: snow-fall,snow-shake;

    animation-duration: 6s;

    animation-timing-function:linear, ease-in-out;

    animation-iteration-count: infinite,infinite;

    animation-play-state: running,running;
}
.snow:nth-of-type(1){
    left:5%;
    animation-delay: 0s;
}
.snow:nth-of-type(2){
    left:20%;
    animation-delay: 0.3s;
}
.snow:nth-of-type(3){
    left:10%;
    animation-delay: 5s;
}
.snow:nth-of-type(4){
    left:12%;
    animation-delay: 2.5s;
}
.snow:nth-of-type(5){
    left:61%;
    animation-delay: 2s;
}
.snow:nth-of-type(6){
    left:57%;
    animation-delay: 4.1s;
}
.snow:nth-of-type(7){
    left:82%;
    animation-delay: 1s;
}
.snow:nth-of-type(8){
    left:72%;
    animation-delay: 5.2s;
}
.snow:nth-of-type(9){
    left:6%;
    animation-delay: 7s;
}
.snow:nth-of-type(10){
    left:38%;
    animation-delay: 7.4s;
}
.snow:nth-of-type(11){
    left:90%;
    animation-delay: 3.2s;
}
.snow:nth-of-type(12){
    left:75%;
    animation-delay: 9s;
}
.snow:nth-of-type(13){
    left:37%;
    animation-delay: 5s;
}
.snow:nth-of-type(14){
    left:66%;
    animation-delay: 6.2s;
}
.snow:nth-of-type(15){
    left:58%;
    animation-delay: 4.5s;
}
.snow:nth-of-type(16){
    left:25%;
    animation-delay: 4.8s;
}
.snow:nth-of-type(17){
    left:20%;
    animation-delay: 1.3s;
}
.snow:nth-of-type(18){
    left:44%;
    animation-delay: 1.4s;
}
.snow:nth-of-type(19){
    left:40%;
    animation-delay: 3.8s;
}
.snow:nth-of-type(20){
    left:77%;
    animation-delay: 10s;
}
.snow:nth-of-type(21){
    left:52%;
    animation-delay: 7.5s;
}
.snow:nth-of-type(22){
    left:93%;
    animation-delay: 7.9s;
}
.snow:nth-of-type(23){
    left:85%;
    animation-delay: 1.8s;
}
.snow:nth-of-type(24){
    left:96%;
    animation-delay: 8.2s;
}
.snow:nth-of-type(25){
    left:32%;
    animation-delay: 6.6s;
}
#groundLeft{
    position: absolute;
    width:300px;
    height:100px;
    background: linear-gradient(0deg,#FFFFFF,#ccf0fd);
    border-radius:40%;
    top:300px;
    left:150px;
    transform: rotate(-7deg);
    z-index: 3;
}
#groundRight{
    position: absolute;
    width:300px;
    height:100px;
    background: linear-gradient(0deg,#FFFFFF,#ccf0fd);
    border-radius:40%;
    top:300px;
    left:-30%;
    transform: rotate(15deg);
    z-index: 3;
}