body{
    margin: 0 0 0 0;
    background-color: antiquewhite;
}
#nav{
    background-color: rgb(51,51,51);
    display: block;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
#nav img{
    /*float: left;*/
}
#navLink{
    float: right;
    margin-right: 20px;
}

#navLink ul li{
    color: #FFF;
    float: left;
    margin-left: 40px;
}
.pContainer{
    width:80%;
    margin:0 auto;
    background-color: #FFF;
    padding:18px 13px 13px 13px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px grey;
}
.pContainer h3 ,.pContainer h6{
    color:gray;
    margin-top: 0;
    /*margin-bottom: 0;*/
}
.pContainer table {
    margin:0 auto;
    width:100%;
}
table tr th{
    background-color: #000;
    color:#FFF;
}
table .last{
    background-color: beige;
}
.notice{
    border: 3px solid darkred;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.notice h2{
    padding:10px 0 10px 0;
}
.pContainer form{
    display: inline-block;
}
#formContainer{
    text-align: center;
}
#formLeft{
    float: left;
    text-align: right;
}
#formLeft p{
    margin:2px 0 2px 0;
}
#formRight{
    text-align: left;
    margin-left: 35%;
}
#sexChose{
    margin-top: 8px;
}
#formRight select{
    margin-top: 4px;
}
#formRight textarea{
    margin-top: 5px;
    text-align: left;
}
#subBtn{
    margin:0 auto;
    width:100%;
    height:50px;
    border-radius: 10px;
    background-color: dodgerblue;
    color:#FFF;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid dodgerblue;
    transition: background-color 0.3s,color 0.5s;

}
#subBtn:hover{
    background-color: #FFF;
    color:dodgerblue;
    cursor: pointer;
}

.footer{
    display: block;
    background-color: black;
    width: 100%;
    height:50px;
    text-align: center;
    color: #FFF;
    line-height: 50px;
}
.footer p{
    margin: 0;
}