
body{
    /*background-color: #B55E3D;*/
    overflow: hidden;
    margin:0;
}
#itemContainer{
    /*overflow: hidden;*/
    width: 100%;
    /* height: 500px; */
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 9999;
    top: 30%;
}
#backgroundWall{
    transition: height 0.5s,top 0.5s;
    background-color: #B55E3D;
    margin: 0;
    /* top: 8%; */
    left: 0;
    position: absolute;
    width: 125%;
    height: 80%;
    background-image: linear-gradient(335deg,#91493A 22px,transparent 22px), linear-gradient(157deg,#91493A 22px,transparent 22px), linear-gradient(335deg,#91493A 22px,transparent 22px), linear-gradient(157deg,#91493A 22px,transparent 22px);
    background-position: 0 2px,5px 36px,22px 32px,28px 8px;
    background-size: 58px 58px;
}
#floor{
    transition: height 0.5s,top 0.5s;
    position: absolute;
    background-color: rgb(134,137,148);
    margin: 0;
    top: 75%;
    left: 0;
    width: 125%;
    height: 26%;
    box-shadow: -4px -2px 8px #b9b2b2;
}