#chairContainer{
    width: 300px;
    height: 280px;
    /* top: 45%; */
     bottom: 0;
    position: absolute;
    z-index: 9;
    left: 12%;
    z-index: 9999;
}
.chair_back{
    width: 170px;
    height: 60px;
    background-color: rgb(129,115,86);
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto;
}
.chair_back:after{
    content: '';
    position: absolute;
    top: 40px;
    width: 40px;
    height: 100px;
     left: 50%;
    margin-left: -20px;
    /* margin: 0 auto; */
    background-color: rgb(129,115,86);
}
.chair_holder{
    width: 180px;
    height: 25px;
    background-color: rgb(142,131,113);
    /* position: absolute; */
    /* top: 69px; */
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 20px;
}
.chair_holder:before{
    content: '';
    position: absolute;
    background-color: rgb(129,115,86);
    width: 15px;
    height: 190px;
    border-radius: 10px;
    transform: rotate(12deg);
    left: 30%;
    z-index: -1;
}
.chair_holder:after{
    content: '';
    position: absolute;
    background-color: rgb(129,115,86);
    width: 15px;
    height: 190px;
    border-radius: 10px;
    transform: rotate(-12deg);
    left: 65%;
    z-index: -1;
}